*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body{
 
   background: linear-gradient(135deg, #141e30, #243b55);
  color: white;

color: antiquewhite;
}

h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0;
}


.result p{
  display: flex;
  flex-direction: column;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
gap: 10px;
}



.choices{
display: flex;
justify-content: center;
gap: 40px;
padding: 10px 0;
}

.choices button{
  font-size: 120px;
  background-color: transparent;
  outline: none;
  border: none;
}

.choices p{
  font-size: 40px;
  color: antiquewhite;
 
}

.choices button:active{
  transform: scale(0.8);
}

.count{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.count p{
  font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}

.reset{
  display: flex;
 justify-content: center;
 gap: 10px;

}

.reset a{
 
padding: 20px;
 background-color: #00b4db;
border-radius: 20px;
margin-top: 20px;
margin-bottom: 20px;

  color: rgb(253, 252, 251);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bolder;
}


#Draw{
  color: yellow;
  margin-bottom: 16px;
}

#won{
  color: green;
  font-size: 40px;
  font-weight: bolder;
}




/*----------------------------round-------------------*/

#round {
text-align: center;
font-size: 40px;

}

::-webkit-scrollbar{
  display: none;
}